<%- include('header'); %>

<section id="article" class="article-container" role="article">
    <%- html %>
    <a id="backbutton" class="text-left" href="/"><p>Til baka</p></a>
</section>

<%- include('footer'); %>
