<%- include('header'); %>
<% if (text.length > 0) { %>
    <h1 class="margin-top-30"> <%= text %></h1>
<% } %>

<a id="backbutton" href="/"><p class="text-center">Til baka</p></a>


<%- include('footer'); %>
